.aboutWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}

.aboutHeader {
  width: 100%;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.aboutSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aboutContainer {
  width: 65%;
  margin-right: 2rem;
}

.aboutText {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.toolHeader {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Mono', monospace;
}

.toolContainer {
  width: 100%;
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tool {
  width: 100%;
  max-width: 45%;
  margin-bottom: 0.3rem;
}

.imageWrapper {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  margin-top: 1.5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  top: -1rem;
  right: 1rem;
  border-radius: 0.2rem;
}


@media screen and (max-width: 1024px) {
  .aboutWrapper {
    padding: 0 4rem;
  }

  .imageWrapper {
    width: 35%;
  }
}


@media screen and (max-width: 768px) {
  
  .aboutWrapper {
    padding: 0 2rem;
  }

  .aboutSection {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .aboutContainer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .imageWrapper {
    width: 100%;
    max-width: 14rem;
  }
  
}

@media screen and (max-width: 425px) {
  .aboutWrapper {
    padding: 0 1rem;
  }

  .aboutHeader {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }

  .aboutText {
    font-size: 1rem;
    text-align: center;
  }
} 