.footerWrapper{
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.footerContainer{
  width: 100%;
  text-align: center;
  font-family: 'Roboto slab', sans-serif;
  font-size: 1.2rem;
}


@media screen and (max-width: 768px) {
  .footerContainer{
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .footerWrapper {
    padding: 1rem;
  }

  .footerContainer {
    font-size: 1rem;
  }
}