.bannerContainer {
  width: 100%;
  max-width: 1024px;
  margin-top: 2.5rem;
}

.greetingContainer {
  width: auto;
  margin-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

.nameContainer {
  width: auto;
  margin-bottom: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: calc(1rem + 4vw);

}

.roleContainer {
  width: auto;
  margin-bottom: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: calc(1rem + 4vw);
}

.textContainer {
  width: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: lighter;
  max-width: 37.5rem;
}

@media screen and (max-width: 1024px) {
  .bannerContainer {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  .bannerContainer {
    padding: 0 2rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .bannerContainer {
    padding: 0 1rem;
    margin-top: 1rem;
  }
  .textContainer {
    font-size: 1rem;
  }
}
